@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/**NAVBAR STYLES*/
.navbar{
    border-bottom: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    display: flex;
    backdrop-filter: blur(2px);
    padding: 5px 20px;
    justify-content: space-between;
}
.navbar> span{
    color: rgb(113, 28, 217);
    font: bold;
    cursor: pointer;
    font-weight: 900;
    font-size: 30px;
    font-family: 'Kaushan Script', cursive;
}
.links{
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links >*{ 
    text-decoration: none;
    color: black;
    padding: 3px;
    height: auto;
    
}


img {
    border-radius: 5%;
}
    


.links >*:hover {
    color: grey;


}



/*FOOTER STYLES*/
.footer{
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 2px;
    text-align: center;
    
}
/*HOME PAGE STYLES*/
.home{
    height: 100vh;
}

/*PRODUCTS PAGE STYLES*/
 .productCard{
     color: antiquewhite;
     font-size: 20px;
 }
 .productCard :hover{
     background-color: rgba(100, 95, 97,0.4);
     border-radius: 5%;
}

/*ABOUT PAGE STYLES*/
.about{
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 3px;
    padding: 15px;
    margin-top: 5%;
    font-size: 18px;
    color: rgb(235, 235, 235);
}
.about>span{
    font-weight: bold;
}
/*CONTACT PAGE STYLES*/
.contacts{


    margin-top: 5%;
    display: flex;
    flex-direction: column;
}
.contactus{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}
.bottom-container{
    display: flex;
    flex-direction: row;
}
.bottom1{
    width: 50%;
    padding: 20px
}
.bottom2{
    padding: 20px;
}
.bottom2 > form >label{
    display: block;
}
.bottom2 > form > input{
    width: 100%;
    height: 35px;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
}
