@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.about,
.contacts {
    margin: 2% 5%;
}


/**NAVBAR STYLES*/
.navbar{
    border-bottom: none;
    background-color: rgba(255, 255, 255, 0.2);
}

.nav-content {
    display: flex;
    backdrop-filter: blur(2px);
    padding: 10px 20px;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.3);
}


.nav-content > span {
    color: rgb(113, 28, 217);
    font: bold;
    cursor: pointer;
    font-weight: 900;
    font-size: 30px;
    font-family: 'Kaushan Script', cursive;
}
.links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.links > * { 
    text-decoration: none;
    color: black;
    height: auto;
    border: none;
    box-shadow: none;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    padding: 10px;
}

.links > a:last-child {
    padding-bottom: 0;
}

.links > *:hover,
.links > *:focus {
    box-shadow: 0 2.5px 5px rgba(255, 255, 255, 0.15);
    color: gray;
}

@media only screen and (min-width: 600px) {
    .nav-content {
        flex-direction: row;
    }

    .links {
        flex-direction: row;
        flex-basis: 45%;
        justify-content: space-between;
    }

    .links > * {
        padding: 3px;
    }
}



img {
    border-radius: 5%;
}



/*FOOTER STYLES*/
.footer{
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 2px;
    text-align: center;
    
}
/*HOME PAGE STYLES*/


/*PRODUCTS PAGE STYLES*/
 .productCard{
     color: antiquewhite;
     font-size: 20px;
 }
 .productCard :hover{
     background-color: rgba(100, 95, 97,0.4);
     border-radius: 5%;
}

/*ABOUT PAGE STYLES*/
.about{
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 3px;
    padding: 15px;
    margin-top: 5%;
    font-size: 18px;
    color: rgb(235, 235, 235);
}
.about>span{
    font-weight: bold;
}
/*CONTACT PAGE STYLES*/
.contacts{


    margin-top: 5%;
    display: flex;
    flex-direction: column;
}
.contactus{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}
.bottom-container{
    display: flex;
    flex-direction: row;
}
.bottom1{
    width: 50%;
    padding: 20px
}
.bottom2{
    padding: 20px;
}
.bottom2 > form >label{
    display: block;
}
.bottom2 > form > input{
    width: 100%;
    height: 35px;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
}
.bottom2 > button {
    width: 100px;
    height: 40px;
}
/* MEDIA QUERIES FOR RESPONSIVENESS*/
@media screen and (max-width: 510px) {
    .navbar{
        display: flex;
        flex-direction: column;
    }
   
    .links >*{
        margin-right: 4px;
        border-right: 1px solid black;
    }
    .navbar> span{
        text-align: center;
        width: 100%;
    }
    .bottom-container{
        flex-direction: column;
    }
    .bottom1{
        width: 100%;
    }
}